################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.genruntimeconfig.cache
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.GeneratedMSBuildEditorConfig.editorconfig
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.dll
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.csproj.FileListAbsolute.txt
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.csproj.CoreCompileInputs.cache
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.csproj.CopyComplete
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.csproj.AssemblyReference.cache
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.assets.cache
/VoiceTexterBot/obj/Debug/net6.0/VoiceTexterBot.AssemblyInfoInputs.cache
/.vs/VoiceTexterBot/DesignTimeBuild
/.vs/VoiceTexterBot/v17
/.vs/VoiceTexterBot/project-colors.json
